.card {
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.light {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.dark {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.light:hover {
  box-shadow: 5px 5px 0 var(--secondary-color);
  transition: all 0.1s;
  translate: -5px -5px;
}

.dark:hover {
  box-shadow: 5px 5px 0 var(--accent-color);
  transition: all 0.1s;
  translate: -5px -5px;
}

.children {
  position: absolute;
  bottom: 70px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extraMargin {
  margin-top: -50px;
}
