html,
body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #343652;
  --color-secondary: #e9eaec;
  --color-accent: #fad02b;
  --color-background: #90adc6;
  --color-text: #343652;
  --color-text-secondary: #e9eaec;
}
